@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
          scroll-behavior: smooth;
    }
}

.prose a,
.text-link {
    @apply transition text-emerald-500 dark:text-emerald-500 hover:text-emerald-300 dark:hover:text-emerald-300 hover:underline;
}

nav .router-link-active,
nav .router-link-exact-active {
    @apply transition text-emerald-500 dark:text-emerald-500;
}

.prose p {
  @apply max-w-2xl;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.125s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
